<footer class="bg-gray-800 text-white py-8 mt-8">
    <div class="container mx-auto px-4 max-w-[1400px]">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/3 mb-6 md:mb-0 px-4">
                <h5 class="text-lg font-bold mb-2">{{ 'footer.about_us'|trans }}</h5>
                <p>{{ 'footer.about_description'|trans }}</p>
            </div>
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <h5 class="text-lg font-bold mb-2">{{ 'footer.quick_links'|trans }}</h5>
                <ul>
                    <li><a href="{{ path('app_home') }}" class="text-gray-400 hover:text-white">{{ 'footer.home'|trans }}</a></li>
                    <li><a href="{{ path('app_about') }}" class="text-gray-400 hover:text-white">{{ 'footer.services'|trans }}</a></li>
                    <li><a href="{{ path('app_contact') }}" class="text-gray-400 hover:text-white">{{ 'footer.contact'|trans }}</a></li>
                    <li><a href="{{ path('app_privacy_policy') }}" class="text-gray-400 hover:text-white">{{ 'footer.privacy_policy'|trans }}</a></li>
                    <li><a href="{{ path('app_terms_of_use') }}" class="text-gray-400 hover:text-white">{{ 'footer.terms_of_use'|trans }}</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/3">
                <h5 class="text-lg font-bold mb-2">{{ 'footer.contact_us'|trans }}</h5>
                <p>{{ 'footer.email'|trans }}: <a href="mailto:info@carmarketplace.com" class="text-gray-400 hover:text-white">contact@carmarketplace.com</a></p>
                <p>{{ 'footer.address'|trans }}: Tirane, Albania</p>
            </div>
        </div>
        <div class="mt-8 text-center">
            <p>{{ 'footer.copyright'|trans({'year': "now"|date("Y")}) }}</p>
        </div>